{% load static %}

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-lg">
      <div class="container">
        <a class="navbar-brand" href="#">XI RPL 2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <!-- about dropdown -->
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">About</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-white" href="#about-class">About class</a></li>
                <li><a class="dropdown-item text-white" href="#about-students">About students</a></li>
              </ul>
            </div>

            <li class="nav-item">
              <a class="nav-link" href="#galery">Galery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#structurs">Stucturs</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <div class="btn-group">
                <button id="login" class="btn bg-white btn-sm rounded-5 pl-1 pr-3 dropdown-toggle" data-bs-toggle="dropdown">
                  <img style="width: 30px" src="{% static 'asset/img/avatar.png' %}" alt="" class="me-1" />
                  <span class="fw-semibold">{{ user.username }}</span>
                </button>
                    <ul class="dropdown-menu mt-2">
                      <li><a class="dropdown-item text-white" href="{% url "users:logout" %}">Logout</a></li>
                    </ul>
                  </div>
              {% else %}
                <button id="login" class="btn bg-white btn-sm rounded-5 pl-1 pr-3">
                  <img style="width: 30px" src="{% static 'asset/img/avatar.png' %}" alt="" class="me-1" />
                  <span class="fw-semibold"><a href="{% url 'users:login' %}" class="login text-decoration-none">Login</a></span>
                </button>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>